<template>
  <div class="container">
    <b-card>
      <h2 style="text-align:left">Reservar</h2>

      <b-input-group>
        <b-row>
          <b-col cols="4">
            <h6 style="text-align:left">Nombre</h6>
            <b-form-input type="text" v-model="reservaItem.nombre"></b-form-input>
          </b-col>
          <b-col cols="3">
            <h6 style="text-align:left">Fecha</h6>
            <b-form-datepicker
             locale="en"
              id="example-datepicker"
              class="mb-2"
              v-model="reservaItem.fecha"
            ></b-form-datepicker>
          </b-col>
          <b-col cols="2">
            <h6 style="text-align:left">Desde</h6>

            <b-form-timepicker
              placeholder="12:00"
              size="sm"
              locale="en"
              v-model="reservaItem.desde"
            ></b-form-timepicker>
          </b-col>
          <b-col cols="2">
            <h6 style="text-align:left">Hasta</h6>
            <b-form-timepicker
              placeholder="13:00"
              size="sm"
              locale="en"
              v-model="reservaItem.hasta"
            ></b-form-timepicker>
          </b-col>

          <b-btn-group size="sm">
            <b-button variant="success" @click="guardarReserva()">Guardar</b-button>
          </b-btn-group>
        </b-row>
      </b-input-group>
    </b-card>

    <br />
    <TimelineComponent :dataitem="dataitem"></TimelineComponent>
    <br />

    <b-card>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align: left">Nombre</th>
            <th scope="col" style="text-align: right">Horario<b-icon-arrow-up></b-icon-arrow-up></th>
            <th scope="col">acción</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(valores, index) in grilla" :key="index">
            <td style="text-align: left">{{ valores.nombre }}</td>
            <td style="text-align: right">de {{ valores.desde }} a {{ valores.hasta }}</td>

            <td>
              <div class="mt-0">
                <b-button-group size="sm">
                  <b-button type="button" class="btn btn-secondary" @click="removeItem(index)">
                    <b-icon-trash-fill font-scale="1.1"></b-icon-trash-fill>
                  </b-button>
                </b-button-group>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </b-card>
  </div>
</template>

<script>
import TimelineComponent from '@/components/TimelineComponent.vue'

export default {
  components: {
    TimelineComponent
  },
  data() {
    return {
      reservaItem: {
        nombre: '',
        fecha: '',
        desde: '',
        hasta: ''
      },
      grilla: [],
      dataitem: []
    }
  },
  methods: {
    async guardarReserva() {
     
      this.$store.dispatch('addReservaItemsAction', this.reservaItem)
      this.reservaItem = {
        nombre: '',
        fecha: '',
        desde: '',
        hasta: ''
      }
      this.grilla = this.$store.getters.getReservaItems
      this.createDataIem()        
    },
    removeItem(index) {
      this.$store.dispatch('removeReservaItemsAction', index)
      this.grilla = this.$store.getters.getReservaItems
      this.createDataIem()        
      console.log(this.grilla)
    },
    createDataIem() {
      this.dataitem = []
      this.grilla.forEach((data, index) => {
        
        let registro = {
          id: index,
          content: data.nombre,
          start: data.fecha + ' ' + data.desde,
          end: data.fecha + ' ' + data.hasta
        }                  
        this.dataitem.push(registro)
        
      });

    }
  }
}
</script>
<style scoped>
@import '../assets/full-style.css';
</style>
