<template>
  <div>
    <timeline ref="timeline" :items="items" :options="options"> </timeline>
  </div>
</template>
<script>
export default {
      
    props: {
        dataitem: {
            type: Array,
            default:function() {
                return []
            }
        }
    },
  data() {
    return {
      items: [],
      options: {
         orientation: {
    axis: "top",
    item: "top",    
  },
  zoomMin: 1000 * 60 * 60
      }
    }
  },
  watch: {
      dataitem() {
          this.items = this.dataitem
          return this.items
      }
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
html,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}

#visualization {
  position: relative;
}

.menu {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  bottom: -50px;
  right: 0;
  margin: 10px;
  z-index: 9999;
}

.range {
  margin: -12px 12px 0 0;
  background: #333;
}

label,
input {
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  height: 20px;
  margin-top: -12px;
  margin-right: 12px;
}

.buttons-menu {
  background-color: #555;
  color: #fff;
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}

.buttons-menu:hover {
  opacity: 0.9;
}
</style>